{% extends "base.html" %}


{% block body %}

    <a href = "/">
        <button>Reset</button>
    </a>
    <br>

    <form hx-post="/getswimmers" hx-target="#swimmers" hx-swap="outerHTML" hx-trigger="change">
        <label for="date">Choose a Training Session</label>

        <select name="date" id="date">
            <option value="" disabled selected>Select an option</option>
            {% for date in data %}

                <option value="{{date}}">{{ date }}</option>
            
            {% endfor %}

        </select>
    </form>
    <div id="swimmers"></div>

{% endblock %}