{% extends "base.html" %}


{% block body %}

    <form hx-post="/chart" hx-target="#chart" hx-swap="outerHTML" hx-trigger="change">
        <label for="event">Choose an event completed by {{name}}:</label>

        <select name="event" id="event">
            <option value="" disabled selected>Select an option</option>
            {% for distance,stroke in data %}

                <option value="{{distance}}-{{stroke}}">{{ distance }} {{ stroke }}</option>
            
            {% endfor %}

        </select>
    </form>
    <div id="chart"></div>

{% endblock %}