{% extends "base.html" %}


{% block body %}

    <form  hx-post="/displayevents" hx-target="#events" hx-swap="outerHTML" hx-trigger="change">
        <label for="swimmer">Choose a swimmer:</label>

        <select name="swimmer" id="swimmer" >
            <option value="" disabled selected>Select an option</option>
            {% for name, age in data %}

                <option value="{{name}}-{{age}}">{{ name }} {{ age }}</option>
            
            {% endfor %}

        </select>

    </form>
    <div id="events"></div>

{% endblock %}