{% extends "base.html" %}


{% block body %}

    <a href = "/">
        <button>Reset</button>
    </a>
    <br>

    <form hx-post="/getswimmers" hx-target="#swimmers" hx-swap="outerHTML">
        <label for="date">Choose a Training Session</label>

        <select name="date" id="date">

            {% for date in data %}

                <option value="{{date}}">{{ date }}</option>
            
            {% endfor %}

        </select>
        <p>
            <input type="submit" value="Select">
        </p>
    </form>
    <div id="swimmers"></div>

{% endblock %}